.section-selector-1 { background-color: var(--lime-400) }

.section-selector-1 h2 {
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 1px;
}
.section-selector-2.theme-light .cols-shadows .col-3 { box-shadow: rgba(207, 216, 220, 0.4) 14px 14px 14px 0px}
.section-selector-2.theme-light .col-3 { border-color: var(--black-000) }
.section-selector-2 { font-family: 'Playfair Display', serif }
.section-selector-3.theme-dark { background-color: var(--trend-800) }
.section-selector-3 .col-1 h3 { color: var(--slate-200) }
.section-selector-3 .col-1 h2 { color: var(--sky-200) }
.section-selector-3 .col-3 h3 { color: var(--sky-200) }
.section-selector-3 .col-3 p { color: var(--slate-200) }
.section-selector-3 .col-3 li { color: var(--slate-200) }
.section-selector-3.theme-dark .cols-background .col-3 { background-color: var(--trend-700) }
.section-selector-3 div[class^='flex-cols-'] div[class^='col-'] figure.icon { color: var(--sky-300) }

.section-selector-3 {
    background-image: linear-gradient(to top right, #0f172a, #1c2c51);
    font-family: 'Inter', sans-serif;
}

.section-selector-3 .col-1 h2 { font-weight: 200 }
.section-selector-3 .col-3 h3 { font-weight: 400 }